<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make a booking</h1>
    <form method="POST">
        <div>
            <label>Name:</label>
            <input type="text" name="customer_name"/>
        </div>
        <div>
            <label>Select your appetizers</label>
            {%for key, appetizer in appetizers.items() %}
            <img src="static/{{appetizer.image}}"/>
            <input type="checkbox" name="appetizers" value="{{key}}"/>{{appetizer.name}} ({{appetizer.price}})
            {% endfor %}
       </div>
        <div>
            <label>Select your Seating</label>
            <input type="radio" value="outdoors" name="seating"/>Outdoors
            <input type="radio" value="indoors" name="seating"/>Indoors
            <input type="radio" value="indoors-vip" name="seating"/>Indoors (VIP, +$10.00)
        </div>
        <input type="submit"/>
    </form>
</body>
</html>